.data-output {
  margin: 0 10px;
}
.data-output__data {
  display: grid;
  grid-template-columns: 40% 10%;
}
.data-output__data__items {
  overflow-y: scroll;
  height: 600px;
}
.data-output__update {
  margin: 10px 0;
}
.data-output__half {
  display: flex;
  flex-direction: row;
}
.data-output__half section {
  width: 50%;
}
.data-output__cov-matrix {
  width: 550px;
  margin: 10px;
  padding: 10px;
}
.data-output__cov-matrix h2 {
  padding: 15px;
  text-align: center;
}
.data-output__two-matrix {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.data-output__matrix {
  padding: 10px;
  text-align: center;
}
.data-output__info {
  padding: 10px;
}
